<h3>Create an Account</h3>
<form class="ui form" [formGroup]="signupForm">
  <app-input
    inputType="text"
    [label]="'Username'"
    [control]="signupForm.controls.username"
  ></app-input>
  <app-input
    inputType="password"
    [label]="'Password'"
    [control]="signupForm.controls.password"
  ></app-input>
  <app-input
    inputType="password"
    [label]="'Pass word Confirmation'"
    [control]="signupForm.controls.passwordConfirmation"
  ></app-input>

  <div
    *ngIf="
      signupForm.controls.password.touched &&
      signupForm.controls.passwordConfirmation.touched &&
      signupForm.errors
    "
    class="ui red basic label"
  >
    <p *ngIf="signupForm.errors?.['passwordDontMatch']">
      Password and Password Confirmation don't Match
    </p>
  </div>

  <div>
    <button class="ui submit button primary">Submit</button>
  </div>
  {{ signupForm.errors | json }}
</form>
