<h3>Create an Account</h3>
<form class="ui form" [formGroup]="signupForm">
  <div class="field">
    <label>Username</label>
    <input formControlName="username" />
  </div>
  {{ signupForm.get("username")?.errors | json }}
  <div class="field">
    <label>password</label>
    <input formControlName="password" />
  </div>
  {{ signupForm.get("password")?.errors | json }}
  <div class="field">
    <label>Confirm Password</label>
    <input formControlName="passwordConfirmation" />
  </div>
  {{ signupForm.get("passwordConfirmation")?.errors | json }}
  <button class="ui submit button primary">Submit</button>
  {{ signupForm.errors | json }}
</form>
